# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TestClientServer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Антон\RiderProjects\TestClientServer\.idea\.idea.TestClientServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
